@charset "utf-8";
body {
  background-color: bisque;
}
div.hezi {
  width: 360px;
  text-align: center;
  background: skyblue;
  margin: 200px 300px 0px 400px;
  padding-bottom: 20px;
}
div.hezi h3 {
  font-weight: bold;
  padding: 20px;
}
div.hezi input {
  margin-bottom: 10px;
}
div.hezi input[type=button] {
  margin: 0px 0px 0px 80px;
}
